body{
	background-color: #141414;
}

h1{
	font-family: abstract;
	color: #cccccc;
	font-size: 15px;
	/*filter: drop-shadow(0px 0px 4px wheat);*/
}

p{
	font-family: little-pixel;
	color: #888888;
	font-size: 9px;
	line-height: 15px;
}

li{
	font-family: little-pixel;
	color: #888888;
	font-size: 9px;
	line-height: 15px;
}

#contentWrap{
	margin: -8px;
	padding: 8px;
	background-image: url(./res/bg.png);
	background-attachment: fixed;
}

#screenCover{
	position: fixed;
	margin: -8px;
	height: 101vh;
	width: 100vw;
	background-color: black;
	background-image: url(./res/enterScreen.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1024px;
	filter: saturate(0) brightness(2);
	image-rendering: pixelated;
	z-index: 4;
	transition: all 0.5s ease;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

#transitionScreen{
	z-index: 2;
	position: fixed;
	margin: -40px;
	padding: 40px;
	height: 101vh;
	width: 100vw;
	background-color: black;
	background-image: url(./res/transition.gif);
	filter: saturate(0);
	transform: scaleY(-1);
	background-position: center;
	background-size: cover;
	overflow: hidden;
	transition: all 0.5s ease;
	pointer-events: none;
	opacity: 0;
	display: none;
}

.logo{
	height: 90px;
	padding-top: 10px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.topBar{
	position: fixed;
	z-index: 3;
	width: calc(100%);
	margin: -8px;
	margin-bottom: 40px;
	padding: 10px;
	background-color: #141414;
	border-bottom: solid;
	border-color: #888888;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.57));
	top: 0px;
	transition: all .25s ease;
}

.topFiller{
	height: 140px;
	margin-top: 0px;
}

@media screen and (max-width: 1053px) {
    .topFiller {
        height: 200px;
		transition: all 1s ease;
    }
	#screenCover {
		background-size: 500px;
	}
	h1 {
		font-size: 10px;
	}
}

.topBarSpacer{
	flex-grow: 10;
}

.shortcuts{
	display: flex;
	justify-content: space-around;
	width: 800px;
	max-width: 100vw;
}

.playbackButton{
	width: 50px;
	height: 50px;
	position: fixed;
	left: 20px;
	bottom: 20px;
	background-image: url(./res/vibing.gif);
	background-size: contain;
	background-position: center;
	filter: invert(1);
	mix-blend-mode: screen;
	cursor: pointer;
}

.modIcon{
	height: 60px;
	width: 60px;
	margin: 8px;
	background-position: center;
	background-size: contain;
	transition: all 0.5s ease;
	transition-property: background-image, filter;
	background-repeat: no-repeat;
	-webkit-tap-highlight-color: transparent;
}

.socialIcon{
	height: 40px;
	width: 40px;
	margin: 8px;
	background-position: center;
	background-size: contain;
	transition: all 0.5s ease;
	background-repeat: no-repeat;
	-webkit-tap-highlight-color: transparent;
}
/*for credits*/
.socialIconSmall{
	height: 25px;
	width: 25px;
	margin: 5px;
	display: inline-block;
	text-decoration: none;
	background-position: center;
	background-size: contain;
	transition: all 0.5s ease;
	background-repeat: no-repeat;
	-webkit-tap-highlight-color: transparent;
}

/*game icons*/

#dmcrIcon{
	background-image: url(./res/dmcrIcon.png);
	filter: saturate(0) brightness(1.6);
	border: solid;
	border-color: transparent;
}

#dmcrIcon:hover{
	filter: saturate(1)brightness(1) !important;
	cursor: pointer;
	border: solid;
	border-image-source: url('./res/selector.svg');
	border-image-slice: 5%;
}

#lfIcon{
	background-image: url(./res/lfIcon.png);
	filter: saturate(0);
	border: solid;
	border-color: transparent;
}

#lfIcon:hover{
	filter: saturate(1)brightness(1) !important;
	cursor: pointer;
	border: solid;
	border-image-source: url('./res/selector.svg');
	border-image-slice: 5%
}

#tepIcon{
	background-image: url(./res/tepIcon.png);
	filter: saturate(0);
	border: solid;
	border-color: transparent;
}

#tepIcon:hover{
	filter: saturate(1)brightness(1) !important;
	cursor: pointer;
	border: solid;
	border-image-source: url('./res/selector.svg');
	border-image-slice: 5%
}

@media screen and (max-width: 1053px) {
    #tepIcon:hover{
		filter: drop-shadow(2px 4px 6px black);
	}
	#dmcrIcon:hover{
		filter: drop-shadow(2px 4px 6px black);
	}
	#lfIcon:hover{
		filter: drop-shadow(2px 4px 6px black);
	}
}

/*social icons*/

#twitterIcon{
	background-image: url(./res/twitterIcon.png);
	filter: saturate(0);
}

#twitterIcon:hover{
	cursor: pointer;
	filter: saturate(1);
}

#youtubeIcon{
	background-image: url(./res/youtubeIcon.png);
	filter: saturate(0) brightness(1.6);
}

#youtubeIcon:hover{
	filter: saturate(1);
	cursor: pointer;
}

#steamIcon{
	background-image: url(./res/steamIcon.png);
	filter: saturate(0) brightness(1.8);
}

#steamIcon:hover{
	filter: saturate(1);
	cursor: pointer;
}

#lambdagenIcon{
	background-image: url(./res/LambdaGenIcon.png);
	filter: saturate(0) contrast(0) brightness(1.1);
}

#lambdagenIcon:hover{
	filter: saturate(1) contrast(1) brightness(1);
	cursor: pointer;
}

#newgroundsIcon{
	background-image: url(./res/newgroundsIcon.png);
	filter: saturate(0) brightness(1);
}

#newgroundsIcon:hover{
	filter: saturate(1) brightness(1);
	cursor: pointer;
}

#githubIcon{
	background-image: url(./res/githubIcon.png);
	filter: saturate(0) brightness(0.55);
}

#githubIcon:hover{
	filter: saturate(1) brightness(1);
	cursor: pointer;
}

#blueskyIcon{
	background-image: url(./res/blueskyIcon.png);
	filter: saturate(0) brightness(1.7);
}

#blueskyIcon:hover{
	cursor: pointer;
	filter: saturate(1);
}

#tiktokIcon{
	background-image: url(./res/tiktokIcon.png);
	filter: saturate(0) contrast(0) brightness(1.1);
}

#tiktokIcon:hover{
	filter: saturate(1) contrast(1) brightness(1);
	cursor: pointer;
}

#twitchIcon{
	background-image: url(./res/twitchIcon.png);
	filter: saturate(0) brightness(1.4);
}

#twitchIcon:hover{
	cursor: pointer;
	filter: saturate(1);
}

#artstationIcon{
	background-image: url(./res/artstationIcon.png);
	filter: saturate(0) brightness(1.1);
}

#artstationIcon:hover{
	cursor: pointer;
	filter: saturate(1);
}

#mastodonIcon{
	background-image: url(./res/mastodonIcon.png);
	filter: saturate(0) brightness(1.3);
}

#mastodonIcon:hover{
	cursor: pointer;
	filter: saturate(1);
}

#personalWebsiteIcon{
	background-image: url(./res/personalWebsiteIcon.png);
	filter: saturate(0) brightness(0.55);
}

#personalWebsiteIcon:hover{
	filter: saturate(1) brightness(1);
	cursor: pointer;
}

#awesomeWebsiteIcon{
	background-image: url(./res/Sorlag.png);
	filter: saturate(0) brightness(1.2);
}

#awesomeWebsiteIcon:hover{
	filter: saturate(1) brightness(1);
	cursor: pointer;
}

.pageLink{
	border: solid;
	border-color: transparent;
}

.pageLink:hover{
	color: white;
	cursor: pointer;
	border: solid;
	border-image-source: url('./res/selector.svg');
	border-image-slice: 35%;
	filter: drop-shadow(0px 0px 2px white);
}

.mainBanner{
	display: block;
	width: 100%;
	max-width: 1100px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
}

.infoCard{
	font-family: verdana;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	padding: 20px;
	background-color: transparent;
	background: linear-gradient(90deg, rgba(11,11,11,0) 0%, rgba(20,20,20,1) 50%, rgba(38,38,38,0) 100%);
	color: white;
	border-radius: 4px;
}

#footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top: solid;
	color: #888888;
	margin-top: 30px;
	margin: -8px;
	height: 200px;
	width: -webkit-fill-available;
	background-color: #141414;
}


/*blog stuff*/
#articlecontent img{
	width: -webkit-fill-available;
	height: auto;
}

.blogPostList{
	width: -webkit-fill-available;
	height: fit-content;
	display: flex;
	flex-direction: column;
	background-color: black;
	padding: 8px 0px;
}

.postPreview{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 8px;
	margin: 4px 8px;
	width: -webkit-fill-available;
	background-color: #141414;
}

.postPreviewText{
	padding: 3px 8px;
	display: flex;
	flex-direction: column;
	width: 630px;
}

.postPreviewText h2{
	margin-top: 0px;
	font-family: little-pixel;
	font-size: 8px;
	color: #cccccc;
	cursor: pointer;
}

.postPreviewText p{
	font-size: 8px;
	margin: 0px;
}

/*credits page*/

#creditsContainer{
	max-width: 1000px;
}

.credits{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: black;
	padding: 5px 0px;
}

.memberProfile{
	width: 170px;
	min-height: 180px;
	background-color: #141414;
	text-align: center;
	padding: 2px 9px;
	margin: 5px;
}

.memberProfile a {
	text-decoration: none;
}

.memberName{
	color: #cccccc;
}

.memberProfile img {
	width: 105px;
}

@font-face{
	font-family: ikkle;
	src: url(./res/ikkle-mono.ttf);
}

@font-face{
	font-family: nasalization;
	src: url(./res/nasalization-rg.otf);
}

@font-face{
	font-family: coolvetica;
	src: url(./res/coolvetica-rg.otf);
}

@font-face{
	font-family: agency;
	src: url(./res/agencyfb.ttf);
}

@font-face{
	font-family: stasmic;
	src: url(./res/stasmic_.ttf);
}

@font-face{
	font-family: little-pixel;
	src: url(./res/little-pixel.ttf);
}

@font-face{
	font-family: abstract;
	src: url(./res/ABSTRACT.TTF);
}


/*scrollbar land*/

.body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #141414;
}

::-webkit-scrollbar-thumb {
  background-color: #494949;
  border-radius: 0px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}
