body{
	background-color: #141414;
	background-image: url(./res/bg.png);
}

.logo{
	height: 90px;
}

.topBar{
	margin: -8px;
	margin-bottom: 40px;
	padding: 10px;
	background-color: black;
	background: linear-gradient(0deg, rgba(28,28,28,28) 0%, rgba(36,36,36,1) 8%, rgba(46,46,46,1) 94%, rgba(38,38,38,1) 100%);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.topBarSpacer{
	flex-grow: 10;
}

.shortcuts{
	display: flex;
	justify-content: space-around;
	width: 800px;
}

.modIcon{
	height: 60px;
	width: 60px;
	margin: 8px;
	background-size: contain;
	filter: drop-shadow(2px 4px 6px black);
	transition: all 0.5s ease;
}

#dmcrIcon{
	background-image: url(./res/dmcrIconGrey.png);
}

#dmcrIcon:hover{
	background-image: url(./res/dmcrIcon.png);
	cursor: pointer;
	filter: drop-shadow(0px 0px 8px red);
}

#lfIcon{
	background-image: url(./res/lfIconGrey.png);
}

#lfIcon:hover{
	background-image: url(./res/lfIcon.png);
	cursor: pointer;
	filter: drop-shadow(0px 0px 10px magenta);
}

#tepIcon{
	background-image: url(./res/tepIconGrey.png);
}

#tepIcon:hover{
	background-image: url(./res/tepIcon.png);
	cursor: pointer;
	filter: drop-shadow(0px 0px 10px orangered);
}

.infoCard{
	font-family: verdana;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background-color: #141414;
	color: white;
	border-radius: 4px;
}